.card-container {
    height: 100vh;
    background: linear-gradient(#e8edff, #fff2f9);

    .signIn_container {

        .signInBtn {
            margin-bottom: 13px;
        }

        .backBtn:hover {
            background-color: #9ed887;
        }
    }
    
}



.example-full-width {
    width: 100%;
}

.signupBtn {
    background-color: #00154F;
    color: #fff
}


.example-card {
    max-width: 330px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

// ::ng-deep .mat-focused .mat-form-field-label {
// 	/*change color of label*/
// 	color: green !important;
// }

// ::ng-deep.mat-form-field-underline {
// 	/*change color of underline*/
// 	background-color: green !important;
// } 

// ::ng-deep.mat-form-field-ripple {
//    /*change color of underline when focused*/
//    background-color: green !important;;
// }