// post.component.css
/* 페이지 전체 요소에 적용. 박스 사이즈를 테두리를 포함한 크기로 지정 */
* {
    box-sizing: border-box;
}

mat-divider {
    margin: 30px 0;
}

/* 박스 스타일 지정 */
.wrapper {
    // flex-direction: column;
    padding: 80px 150px 30px 150px;
    height: calc(100vh - 82px);
    overflow: auto;
}

.main_content_img {
    text-align: center;
}
.upload_img {
    width: 30%;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.main_content_img {
    margin-bottom: 20px;
}

.main_content_text {
    margin-bottom: 50px
}


.comment_container {
    border-top: 1px solid gray;
    padding: 25px 30px;
}

.comment_content {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #dbdbdb;
    height: 40px;

    .comment_name {
        float: left;
        width: 132px;
        margin-right: 33px;
        margin-top: 3px;
        line-height: 25px;
    }

    .comment_comment {
        float: left;
        line-height: 33px;
    }

    .comment_createdAt {
        float: right;
        font-size: 12px;
        color: #999;
        vertical-align: top;
        margin-top: 1px;
        line-height: 30px;
    }
}

.comment_write {
    margin-top: 20px;
    min-height: 100px;
}

.recommendation {
    text-align: center;
    margin-bottom: 50px
}

.recommendationBtn {
    background-color: #00154f;
    color: white;
    margin-right: 20px;
}

.commentBtn {
    background-color: #00154f;
    color: white;
    margin-right: 20px;
    width: 90px;
    margin: 0 auto;
}




::ng-deep .mat-form-field {
    width: 100%;
    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }
    .mat-form-field-flex {
        height: 110px;
    }
}

// ::ng-deep .mat-form-field.mat-focused {
//     .mat-form-field-label {
//         color: #ff884d;
//     }
//     .mat-form-field-ripple {
//         background-color: #ff884d;
//     }
//     .mat-form-field-required-marker {
//         color: #ff884d;
//     }
//     .mat-input-element {
//         color: #ff884d;
//     }
// }