<div class="wrapper">
    <div class="header">
        <h2>{{ bulletinBoardInfo?.title }}</h2>
        <div class="header_wrapper">
            <div>
                <span>{{ bulletinBoardInfo?.writer.name }}</span>
            </div>
            <div>
                <span>조회 {{bulletinBoardInfo?.numberOfViews}} | </span>
                <span>추천 {{bulletinBoardInfo?.recommendation}} | </span>
                <span>댓글</span>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="main_content_img">
        <img class="upload_img" [src]="uploadImg" alt="">
    </div>

    <div class="main_content_text">
        {{bulletinBoardInfo?.content}}
    </div>

    <mat-divider></mat-divider>

    <div class="recommendation">
        <button mat-raised-button class="recommendationBtn" (click)="recommendation()">추천
            {{bulletinBoardInfo?.recommendation}}</button>
        <button mat-raised-button class="oppositeBtn" (click)="opposite()">반대 {{bulletinBoardInfo?.opposite}}</button>
    </div>

    <!-- <mat-divider></mat-divider> -->

    <span>전체 댓글 {{comments?.length}}개</span>

    <div class="comment_container">

        <div class="comment_content" *ngFor="let comment of comments let i = index">
            <div class="comment_content_inner">
                <div class="comment_inner">
                    <span class="comment_name">
                        {{comment.writer_name}}
                    </span>
                    <span class="comment_comment">
                        {{comment.comment}}
                    </span>
                    <span class="comment_createdAt">
                        {{comment.createdAt | date: 'MM-dd / HH:MM:SS'}}
                    </span>
                    <div class="replyBtn" (click)="createReply(i)">
                        <button mat-raised-button>답글</button>
                    </div>
                </div>
                
                <mat-divider></mat-divider>

                <div>
                    <div  class="replyComment_inner" *ngFor="let replies of comments[i].reply let j = index">
                        <div class="replyComment_name">
                            {{replies.reply_name}}
                        </div>
                        <div class="replyComment_comment">
                            {{replies.reply_comment}}
                        </div>
                        <!-- <span class="replyComment_createdAt">
                            {{replies.createdAt | date: 'MM-dd / HH:MM:SS'}}
                        </span> -->
                    </div>
                </div>
                
            </div>
           
            

            <div class="comment_reply" [ngClass]="{'visible_reply': visible_reply[i] === true}">
                <mat-card-content>
                    <form [formGroup]="replyCommentForm" class="example-form">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput type="text" formControlName="replyComment" placeholder="답글을 입력하세요." required>
                        </mat-form-field>

                        <div fxLayoutAlign="center" fxLayout="column wrap">
                            <button type="submit" mat-raised-button class="replyCommentBtn" [disabled]="!replyCommentForm.valid"
                                (click)="saveReplyComment(comment)">답글 작성</button>
                        </div>
                    </form>
                </mat-card-content>
            </div>
        </div>




        <div class="comment_write">
            <mat-card-content>
                <form [formGroup]="commentForm" class="example-form">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput type="text" formControlName="comment" placeholder="댓글을 입력하세요." required>
                    </mat-form-field>

                    <div fxLayoutAlign="center" fxLayout="column wrap">
                        <button type="submit" mat-raised-button class="commentBtn" [disabled]="!commentForm.valid"
                            (click)="saveComment()">댓글 작성</button>
                    </div>
                </form>
            </mat-card-content>

        </div>



    </div>


</div>