// post.component.css
/* 페이지 전체 요소에 적용. 박스 사이즈를 테두리를 포함한 크기로 지정 */
* {
    box-sizing: border-box;
}

mat-divider {
    margin: 30px 0;
}

/* 박스 스타일 지정 */
.wrapper {
    // flex-direction: column;
    padding: 80px 150px 30px 150px;
    height: calc(100vh - 82px);
    overflow: auto;
}

.main_content_img {
    text-align: center;
}

.upload_img {
    width: 30%;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.main_content_img {
    margin-bottom: 20px;
}

.main_content_text {
    margin-bottom: 50px
}


.comment_container {
    border-top: 1px solid gray;
    padding: 0 30px 25px 30px;
}


// 댓글
.comment_content {

    margin-bottom: 10px;
    border-bottom: solid 1px #dbdbdb;

    // 댓글
    .comment_content_inner {
        width: 100%;
        display: flex;
        flex-direction: column;

        .comment_inner {

            display: flex;
            line-height: 50px;
            border-bottom: solid 1px #e0e0e0;
            

            .comment_name {
                width: 110px;
            }
        
            .comment_comment {
                width: 710px;
                word-break: break-all;
            }
        
            .comment_createdAt {
                font-size: 12px;
                color: #999;
                width: 100px;
                margin-left: 15px;
            }
    
            .replyBtn {
                margin-left: 20px;
            }
        }

        .comment_inner:hover {
            cursor: pointer;
        }
    }

    // 답글
    .replyComment_inner {
        margin: 0px 0 0px 30px;
        padding: 0px 0 0;
        border: 1px solid #ddd;
        background: #fafafa;
        border-width: 0 1px 1px 1px;
        line-height: 50px;
        display: flex;
        
        .replyComment_name {
            width: 110px;
            padding-left: 10px
        }
        
        .replyComment_comment {
            width: 710px;
            word-break: break-all;
        }

        .replyComment_createdAt {
            font-size: 12px;
            color: #999;
            width: 100px;
            margin-left: 15px;
        }

        .replyComment_comment::before {
            content: "┖  ";
            color: #004a9f;
        }
    
    
        .replyComment_createdAt {
          
        }
    }

    .comment_reply {
        display: none;
    }
    
    .visible_reply {
        display: block;
    }


}

.comment_write {
    padding-top: 50px;
    min-height: 100px;
    background: #fafafa;
    border-bottom: 1px solid;
}

.comment_writer {
    padding: 0 0 10px 35px;
    font-weight: 600;
}

.recommendation {
    text-align: center;
    margin-bottom: 50px
}

.recommendationBtn {
    background-color: #00154f;
    color: white;
    margin-right: 20px;
}

.commentBtn {
    background-color: #00154f;
    color: white;
    margin-right: 20px;
    width: 90px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.replyCommentBtn {
    background-color: #fdff82;
    color: black;
    margin-right: 20px;
    width: 90px;
    margin: 0 auto 10px;
}




::ng-deep .mat-form-field {
    width: 100%;

    .mat-input-element {
        color: slategray;
        background-color: white;
    }

    .mat-form-field-flex {
        background-color: white;
    }

    .mat-form-field-label {
        color: slategray;
    }

    .mat-form-field-underline {
        background-color: slategray;
    }

    .mat-form-field-ripple {
        background-color: slategray;
    }

    .mat-form-field-required-marker {
        color: slategray;
    }

    .mat-form-field-flex {
        height: 110px;
        width: 93%;
        margin: 0 30px;
    }
}

// ::ng-deep .mat-form-field.mat-focused {
//     .mat-form-field-label {
//         color: #ff884d;
//     }
//     .mat-form-field-ripple {
//         background-color: #ff884d;
//     }
//     .mat-form-field-required-marker {
//         color: #ff884d;
//     }
//     .mat-input-element {
//         color: #ff884d;
//     }
// }