<div>
    <img src="/assets/img/images.png" class="avatar mat-elevation-z8"  />
    <!-- <img src="/src/assets/img/images.png" alt=""> -->

    <h4 class="name">{{userProfileData.name}}</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="goToHome()">
        <mat-icon>home</mat-icon>
        <span>홈</span>
    </button>
    <button mat-button class="menu-button" (click)="goToList()">
        <mat-icon>rate_review</mat-icon>
        <span>게시글 목록</span>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>회사소개</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>고객센터</span>
    </button>

</div>