mat-toolbar {
    background: #004a9f;
    color: white;
}

.header:hover {
    cursor: pointer;
}

.tb-color {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

mat-card-title {
    position: relative;
    top: 7px;
}

.example-card {
    max-width: 330px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}


.logOutBtn:hover {
    background-color: #9ed887;
}