<div class="card-container" fxLayoutAlign="center center" fxLayout="column">

    <header>
        <h3>Nice to meet you !</h3>
    </header>
    <mat-card class="deviceSetContent">
        <img src="/assets/img/communication.png" alt="">
        <div class="profile_container">
            <span class="span_signin" [routerLink]="['/sign-in']">
                <div>
                    <mat-icon>person</mat-icon>
                </div>
                <div>
                    SIGN IN
                </div>
            </span>
            
            <span class="span_signup" [routerLink]="['/sign-up']">
                <div>
                    <mat-icon>person</mat-icon>
                </div>
                <div>
                    SIGN UP
                </div>
            </span>
            
        </div>
    </mat-card>
</div>