<div class="card-container" fxLayoutAlign="center center" fxLayout="column">

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg"
            alt="Photo of a Shiba Inu">
    
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <!-- <header>
        <h3>반가워요 !</h3>
    </header>
    <mat-card class="deviceSetContent">
        <img src="/assets/img/communication.png" alt="">
        <div class="profile_container">
            <span class="span_signin" [routerLink]="['/sign-in']">
                <div>
                    <mat-icon>person</mat-icon>
                </div>
                <div>
                    로그인
                </div>
            </span>
            
            <span class="span_signup" [routerLink]="['/sign-up']">
                <div>
                    <mat-icon>person</mat-icon>
                </div>
                <div>
                    회원가입
                </div>
            </span>
            
        </div>
    </mat-card> -->
</div>