.card-container {
    height: 100vh;
    background: linear-gradient(#e8edff, #fff2f9);

    mat-card {
        display: flex;
        flex-direction: column;
        justify-content: center;


        img {
            margin: 0 auto;
            width: 250px;
            height: 250px;
        }


        .profile_container {
            width: 300px;
            display: flex;
            justify-content: space-around;

            .span_signin {
                text-align: center;
            }

            .span_signin:hover {
                cursor: pointer;
            }

            .span_signup {
                text-align: center;
            }

            .span_signup:hover {
                cursor: pointer;
            }
        }
    }


}


.example-card {
    max-width: 400px;

    .button_container {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        
        button {
            width: 100px;
        }

        .signInBtn:hover {
            background-color: #9ed887;
        }

        .signUpBtn:hover {
            background-color: #9ed887;
        }
        
    }
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}